node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.env
*.mobileprovision
*.orig.*
web-build/
firebase_dump.json
firebase_admin.json
.env

# macOS
.DS_Store

# db artifacts
database/

#ssl
cert/

#node
package-lock.json